name: Playwright Tests

on:
  workflow_dispatch:
    inputs:
      suite:
        description: "Select test suite"
        required: true
        default: "smoke"
        type: choice
        options:
          - smoke
          - full

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Selected Test Suite
        run: |
          if [ "${{ github.event.inputs.suite }}" == "smoke" ]; then
            npx playwright test -g "@smoke"
          else
            npx playwright test
          fi

      - name: Generate Allure Report
        if: always()
        run: |
          if [ -d "allure-results" ]; then
            npx allure generate allure-results --clean -o allure-report
          fi

      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report/
